@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700;800;900&family=Manrope:wght@400;600&family=Raleway:wght@600&family=Roboto:wght@100;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    font-family: 'Poppins', sans-serif;
}
.font-roboto-100 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

.font-roboto-300 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.font-roboto-400 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.font-roboto-500 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.font-roboto-600 {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

.font-roboto-700 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.font-roboto-900 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

.font-poppins-100 {
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
}

.font-poppins-200 {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}

.font-poppins-300 {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

.font-poppins-400 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.font-poppins-600 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.font-poppins-700 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.font-poppins-800 {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
}

.font-poppins-900 {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
}
